body{
    font-family: 'Roboto', sans-serif;
}
h1{
    font-size: 50x;
    
    margin-top: 0px;
    margin-bottom: 0px;
}
span{
    color: #F9D371;
}
p{
    text-align: justify;
}
#misson-2022{
    text-align: center;
}
.section-one-button{
    border: 0px solid;
    height: 40px;
    width: 120px;
    border-radius: 5px;
    font-size: 15px;
    background-color: coral;
}
.section-three-button{
    border: 0px solid;
    height: 40px;
    width: 200px;
    border-radius: 5px;
    font-size: 15px;
    background-color: coral;
}
/* section{
    display: flex;
    flex-direction: ;
    width: 100%;
}
.image-width{
    width: 80%;
    {
}
.image-width-30p{
    width: 30%;
} */
.half-width{
  
    width: 50%;
    padding-left: 40px;
}
.half-width-second-inner-section{
    width: auto;
    margin-left: 1%;
    margin-right:1% ;
    border: 0px solid red;
    border-radius: 20px;
}
.third-section-width-1{
    
    padding-left: 10px;
}
#background-image-third-section{
    background-image: url("images/shapes/shape-1.png");
    background-size: cover;
    background-position: left 40px bottom 140px;
    background-repeat: no-repeat;
    background-size: 200px 200px;
}
#background-image-forth-section{
    background-image: url("images/shapes/shape-1.png");
    background-size: cover;
    background-position: right 50px bottom -1px;
    background-repeat: no-repeat;
    background-size: 190px 190px;
    
}
#background-image1-fifth-section{
    background: url("images/shapes/shape-3.png")left bottom no-repeat, url("images/shapes/shape-3.png") left top no-repeat,url("images/shapes/shape-3.png") center bottom 100px no-repeat;
    background-size: cover;
    background-size: 70px 70px, 110px 110px, 90px 90px;
    
}

.third-section-width-2{
    padding-right: 10px;
    margin-top: 6%;
}
.image-width{
    width: 80%;
    
}
.fifth-section-image-width{
    width: 55%;
    margin-top: -10px;
}
.main{
    display: flex;
    flex-direction: column;
}
.first-section{
    display: flex;
    flex-direction: row;
    padding-right: 10%;
    padding-left: 10%;
    padding-bottom: 50px;
}

.second-section{
    display: flex;
    flex-direction: column;
    padding-right: 10%;
    padding-left: 10%;
    padding-bottom: 60px;
}
.third-section{
    display: flex;
    flex-direction: row;
    padding-right: 10%;
    padding-left: 10%;
    padding-bottom: 60px;
}
.forth-section{
    display: flex;
    flex-direction: row;
    padding-right: 10%;
    padding-left: 10%;
    padding-bottom: 60px;
}
.fifth-section{
    display: flex;
    flex-direction: column;
    padding-right: 10%;
    padding-left: 10%;
    padding-bottom: 60px;
}
#second-inner-section{
    display: flex;
    flex-direction: row;
    
    /* padding-right: 10%;
    padding-left: 10%; */ 
}
#fifth-inner-section{
    display: flex;
    flex-direction: row;
    /* padding-right: 10%;
    padding-left: 10%; */ 
}
#bg-color-1{
    background: rgba(140, 224, 107, 0.576);
}
#bg-color-2{
    background: rgba(226, 243, 132, 0.576);
}
#bg-color-3{
    background: rgba(222, 132, 245, 0.631);
}

.card-padding-left{
    padding-left: 20px;
}
#box-left{
    border-image: linear-gradient(to right bottom, #FF5959, #FF1700);
    border-width: 5px; 
    box-sizing: content-box;border-style: solid;
    border-image-slice: 0 0 0 3; 
    padding-left: 10px;
    font-size: 25px;
}

.forth-section-width-1{
    width: 60%;
    
}
.forth-section-width-2{
    width: 40%;
    
}
.fifth-section-width-1{
    width: 50%;
    margin-left:200px;
}
.fifth-section-width-2{
    width: 50%;
    margin-top: 6%;
}

.footer{
    background-color: darkslateblue;
    height: 190px;
    text-align: center;
}
#footer-para{
    text-align: center;
    color: white;
}
#footer-header{
    color: white;
}